<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>StartUp</listener-class>
    </listener>
    <listener>
        <listener-class>NewServletListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>CheckUser</servlet-name>
        <servlet-class>CheckUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddVaccines</servlet-name>
        <servlet-class>AddVaccines</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileDoctor</servlet-name>
        <servlet-class>doctor.ProfileDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChildProfile</servlet-name>
        <servlet-class>parent.ChildProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChildProfile2</servlet-name>
        <servlet-class>parent.ChildProfile2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddChild</servlet-name>
        <servlet-class>parent.AddChild</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>currentdate</servlet-name>
        <servlet-class>currentdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Notification</servlet-name>
        <servlet-class>parent.Notification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotifyDoctor</servlet-name>
        <servlet-class>doctor.NotifyDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DocNotification</servlet-name>
        <servlet-class>doctor.DocNotification</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckUser</servlet-name>
        <url-pattern>/CheckUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddVaccines</servlet-name>
        <url-pattern>/AddVaccines</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileDoctor</servlet-name>
        <url-pattern>/ProfileDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChildProfile</servlet-name>
        <url-pattern>/ChildProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChildProfile2</servlet-name>
        <url-pattern>/ChildProfile2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddChild</servlet-name>
        <url-pattern>/AddChild</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>currentdate</servlet-name>
        <url-pattern>/currentdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Notification</servlet-name>
        <url-pattern>/Notification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotifyDoctor</servlet-name>
        <url-pattern>/NotifyDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DocNotification</servlet-name>
        <url-pattern>/DocNotification</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
